<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="demo_contained">
      <div class="techs-container" style="margin-top: 90px">
        <button class="btn btn-warning pull-left" ng-click="prices.GetPrices($event)">
          <i class="fa fa-play-circle"></i>
          Iniciar
        </button>
        <button
          class="btn btn-primary pull-right"
          ng-json-export-excel
          data="prices.priceList"
          report-fields="{
            sku: 'sku',
            tipo: 'tipo',
            nome: 'nome',
            ativo: 'ativo',
            precoCusto: 'preco-custo`',
            precoCheio: 'preco-cheio',
            precoPromocional: 'preco-promocional',
            imagem: 'imagem-1',
            seoTagTitle: 'seo-tag-title'
          }"
          filename="filename">
          <i class="fa fa-download"></i>
          download
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div id="progress-bar"></div>
        </div>
      </div>
      <table
        datatable="ng"
        dt-options="prices.dtOptions"
        dt-column-defs="prices.dtColumnDefs"
        id="prices-list-table"
        class="row-border hover table table-bordered cb-data-table">
        <thead>
          <tr>
            <th>tipo</th>
            <th>sku</th>
            <th>nome</th>
            <th>ativo</th>
            <th>preco-custo</th>
            <th>preco-cheio</th>
            <th>preco-promocional</th>
            <th>imagem-1</th>
            <th>seo-tag-title</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in prices.priceList">
            <td>{{ p.tipo }}</td>
            <td>{{ p.sku }}</td>
            <td>{{ p.ativo }}</td>
            <td>{{ p.nome }}</td>
            <td>{{ p.precoCusto | currency: 'US$'}}</td>
            <td>{{ p.precoCheio | currency: 'R$'}}</td>
            <td>{{ p.precoPromocional | currency: 'R$'}}</td>
            <td>
              <img ng-src="{{p.imagem}}" alt="" class="img-responsive">
            </td>
            <td>{{ p['seoTagTitle'] }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Valor em US$</th>
            <th>Valor em R$</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in prices.priceList">
            <td>
              {{p[0]}}
            </td>
            <td>{{p[1]}}</td>
            <td>{{p[2]}}</td>
            <td>{{p[3]}}</td>
            <td>{{p[4]}}</td>
            <td>{{p[5]}}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
