<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="demo_contained">
      <div class="techs-container" style="margin-top: 90px">
        <button class="btn btn-warning pull-left" ng-click="prices.GetPrices($event)">
          Iniciar
        </button>
        <button
          class="btn btn-primary pull-right"
          ng-json-export-excel
          data="prices.priceList"
          report-fields="{
            id: 'id',
            tipo: 'tipo',
            skuPai: 'sku-pai',
            sku: 'sku',
            ativo: 'ativo',
            usado: 'usado',
            ncm: 'nvm',
            gtin: 'gtin',
            nome: 'nome',
            descricaoCompleta: 'descricao-completa',
            urlVideoYoutube: 'url-video-youtube',
            estoqueGerenciado: 'estoque-gerenciado',
            estoqueQuantidade: 'estoque-quantidade',
            estoqueSituacaoEmEstoque: 'estoque-situacao-em-estoque',
            estoqueSituacaoSemEstoque: 'estoque-situacao-sem-estoque',
            precoSobConsulta: 'preco-sob-consulta',
            precoCusto: 'preco-custo',
            precoCheio: 'preco-cheio',
            precoPromocional: 'preco-promocional',
            marca: 'marca',
            pesoEmKg: 'peso-em-kg',
            alturaEmCm: 'altura-em-cm',
            larguraEmCm: 'largura-em-cm',
            comprimentoEmCm: 'comprimento-em-cm',
            categoriaNomeNivel1: 'categoria-nome-nivel-1',
            categoriaNomeNivel2: 'categoria-nome-nivel-2',
            categoriaNomeNivel3: 'categoria-nome-nivel-3',
            categoriaNomeNivel4: 'categoria-nome-nivel-4',
            categoriaNomeNivel5: 'categoria-nome-nivel-5',
            imagem1: 'imagem-1',
            imagem2: 'imagem-2',
            imagem3: 'imagem-3',
            imagem4: 'imagem-4',
            imagem5: 'imagem-5',
            gradeGenero: 'grade-genero',
            gradeTamanhoDeAnelalianca: 'grade-tamanho-de-anelalianca',
            gradeTamanhoDeCalca: 'grade-tamanho-de-calca',
            gradeTamanhoDeCamisacamiseta: 'grade-tamanho-de-camisacamiseta',
            gradeTamanhoDeCapacete: 'grade-tamanho-de-capacete',
            gradeTamanhoDeTenis: 'grade-tamanho-de-tenis',
            gradeVoltagem: 'grade-voltagem',
            gradeTamanhoJuvenilInfantil: 'grade-tamanho-juvenil-infantil',
            gradeProdutoComUmaCor: 'grade-produto-com-uma-cor',
            gradeProdutoComDuasCores: 'grade-produto-com-duas-cores',
            urlAntiga: 'url-antiga',
            seoTagTitle: 'seo-tag-title',
            seoTagDescription: 'seo-tag-description'
          }"
          filename="filename">
          Download
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div id="progress-bar"></div>
        </div>
      </div>
      <table
        datatable="ng"
        dt-options="prices.dtOptions"
        dt-column-defs="prices.dtColumnDefs"
        id="prices-list-table"
        class="row-border hover table table-bordered cb-data-table">
        <thead>
          <tr>
            <th>tipo</th>
            
            <th>nome</th>
            <th>ativo</th>
            <th>preco-custo</th>
            <th>preco-cheio</th>
            <th>preco-promocional</th>
            <th>categoria-nome-nivel-1</th>
            <th>imagem-1</th>
            <th>seo-tag-title</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in prices.priceList">
            <td>{{ p.tipo }}</td>

            <td>{{ p.nome }}</td>
            <td>{{ p.ativo }}</td>
            <td>{{ p.precoCusto | currency: 'US$'}}</td>
            <td>{{ p.precoCheio | currency: 'R$'}}</td>
            <td>{{ p.precoPromocional | currency: 'R$'}}</td>
            <td>{{ p.categoriaNomeNivel1 }}</td>
            <td>{{ p.imagem1 }}</td>
            <td>{{ p.seoTagTitle }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Valor em US$</th>
            <th>Valor em R$</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in prices.priceList">
            <td>
              {{p[0]}}
            </td>
            <td>{{p[1]}}</td>
            <td>{{p[2]}}</td>
            <td>{{p[3]}}</td>
            <td>{{p[4]}}</td>
            <td>{{p[5]}}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
